.top-page {
  background-image: url("jangle.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

h1 {
  font-size: 300px;
}

.logo-box {
  margin-top: 200px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  font-size: 70px;
}

iframe[src$=".pdf"] {
  width: 100%;
  height: 80vh;
}
